
.button{
  background-color: white;
  color: black;
  height: 30px;
  width: 100px
  
}

.button:hover{
background-color: lightgray;
}
.bg-hero{
  height: 80vh;
  background-image: url(https://www.w3schools.com/w3images/architect.jpg);
  background-size: cover;
  background-position: bottom;
}

.bg-house-hero{
  height: 40vh;
  background-size: cover;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.display-topleft {
  position: absolute;
  left: 0;
  top: 0;
}

.image { 
  position: relative; 

}

.image span { 
  position: absolute; 
  top: 0px; 
  left: 10px; 
  padding: 0 10px 0 10px;
}

.name{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}

.job{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.footer-logo{
  background-color: black;
  color: white;
  height: 75px
  
}